@using OgrenciNotSistemiMvc.Models.EntityFramework
@model List<TBLDERSLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>DERS ID</th>
        <th>DERS ADI</th>
        <th>İŞLEMLER</th>
    </tr>
    <tbody>
        @foreach(var drs in Model)
        {
        <tr>
            <td>@drs.DERSID</td>
            <td>@drs.DERSAD</td>
            <td>
                <a href="/Default/Sil/@drs.DERSID" class="btn btn-danger">SİL</a>
                <a href="/Default/DersGetir/@drs.DERSID" class="btn btn-success">GÜNCELLE</a>
            </td>
        </tr>
       
        }
    </tbody>
    
</table>

<a href="/Default/YeniDers" class="btn btn-primary" >Yeni Ders Kaydı</a>