@using OgrenciNotSistemiMvc.Models.EntityFramework
@model List<TBLKULUPLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table table-bordered">
        <tr>
            <th>KULUP ID</th>
            <th>KULUP ADI</th>
            <th>İŞLEMLER</th>
        </tr>
        <tbody>
            @foreach (var klp in Model)
            {
                <tr>
                    <td>@klp.KULUPID</td>
                    <td>@klp.KULUPAD</td>
                    <td><a href="/Kulupler/Sil/@klp.KULUPID" class="btn btn-danger">SİL</a>
                        <a href="/Kulupler/KulupGetir/@klp.KULUPID" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
        </tbody>


    </table>
    <a href="/Kulupler/YeniKulup" class="btn btn-primary">Yeni Kulüp Kaydı</a>